.sidenav {
  background-color: #161616;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;

  img {
    width: 50px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  a,
  button {
    text-decoration: none;
    color: #818181;
  }

  @media screen and (max-width: 768px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: unset;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
  }
}
