@keyframes circle-to-square {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.player-container {
  position: absolute;
  bottom: 10px;
  left: 8px;
  right: 8px;
  background-color: #222222;
  border-radius: 8px;

  animation-name: circle-to-square;
  animation-duration: 0.5s;
  animation-timing-function: ease;

  .player-music {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      width: 70px;
      border-radius: 3px;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .music-info {
      display: flex;
      flex-direction: column;
      gap: 3px;

      .title {
        font-size: 25px;
        color: #e4e4e4;

        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
      }

      .author {
        color: #a0a0a0;
        font-size: 15px;

        @media screen and (max-width: 768px) {
          font-size: 10px;
        }
      }
    }

    #close {
      display: none;

      @media screen and (max-width: 768px) {
        display: flex;
        position: absolute;
        left: 15px;
      }
    }

    #remove {
      position: absolute;
      right: 15px;
    }

    @media screen and (max-width: 768px) {
      justify-content: center;
      text-align: center;
    }
  }
}

// 320 px — минимум для мобильных устройств.
// 768 x 1024 px — стандарт для планшетов.
// 1366 x 768 px — частый размер ноутбуков.
// 1920 x 1080 px — फुल HD десктопы.
