.player-container {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: 0 50px;
  background-color: #222222;
  border-radius: 8px;
  z-index: 1000;

  .player-music {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      width: 70px;
      border-radius: 3px;
    }

    .music-info {
      display: flex;
      flex-direction: column;
      gap: 3px;

      .title {
        font-size: 25px;
        color: #e4e4e4;

        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
      }

      .author {
        color: #a0a0a0;
        font-size: 15px;

        @media screen and (max-width: 768px) {
          font-size: 10px;
        }
      }
    }

    #remove {
      position: absolute;
      right: 15px;
    }

    @media screen and (max-width: 768px) {
      justify-content: left;
      text-align: left;
    }
  }

  @media screen and (max-width: 768px) {
    margin: 0 15px;
  }
}

// 320 px — минимум для мобильных устройств.
// 768 x 1024 px — стандарт для планшетов.
// 1366 x 768 px — частый размер ноутбуков.
// 1920 x 1080 px — फुल HD десктопы.
