/* Container background and box shadow */
.rhap_container {
  background-color: #101010;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Time text color (current time & duration) */
.rhap_time {
  color: #a0a0a0;
}

/* Progress bar background */
.rhap_progress-bar,
.rhap_volume-bar {
  background-color: #444444;
}

.rhap_download-progress {
  background-color: #858585;
}

/* Filled progress bar color */
.rhap_progress-filled {
  background-color: #ffffff;
}

/* Progress bar indicator handle */
.rhap_progress-indicator,
.rhap_volume-indicator {
  background-color: #ffffff;
}


@media screen and (max-width: 768px) {
  .rhap_volume-controls {
    display: none;
  }

  .rhap_stacked .rhap_controls-section {
    margin-top: 0;
  }
}