@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
  background: #090909;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  color: #d4d4d4;
  margin: 0 auto;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  margin: 0 auto;
  box-sizing: border-box;
}

.content {
  /* max-width: 1200px; */
  overflow: auto;
  width: 100%;
  margin: 0 auto;
  padding: 30px 50px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .content{
    padding: 30px 15px;
  }
}