@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
  background: #090909;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  color: #d4d4d4;
  margin: 0 auto;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 1;
}

.content {
  /* max-width: 1200px; */
  position: relative;
  overflow: auto;
  width: 100%;
  margin: 0 auto;
  padding: 30px 50px;
  box-sizing: border-box;
}

.overlay {
  display: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  -webkit-tap-highlight-color: transparent;
  /* убирает подсветку на мобильных устройствах */
  user-select: none;
  /* запрещает выделение текста мышкой */
}

@media screen and (max-width: 768px) {
  .content {
    padding: 30px 15px;
  }

  .overlay {
    display: flex;

    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.6);

    z-index: 999;
  }
}